<app-menu></app-menu>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">Reservation id</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Old Price</th>
                    <th scope="col">New Price</th>
                    <th scope="col">Make reservation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of fastReservations">
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                    <td>{{ reservation.oldPrice }}</td>
                    <td>{{ reservation.newPrice }}</td>
                    <td><button class="btn btn-outline-primary make-reservation"
                            (click)='makeReservation(reservation.startDate, reservation.endDate, reservation.newPrice, reservation.entityId)'>Make
                            Reservation</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>