<app-menu></app-menu>

<div class="container mt-5">
    <div class="row d-flex justify-content-center cottage-border">
        <div class="col-md-4 mt-5 pt-5 z-depth-5">
            <img src="assets/{{ boat.image }}" class="img-cottage" alt="">
            <input type="file" class="form-control mb-5" aria-describedby="basic-addon1" (change)="selectImage($event)" [ngClass]="edit ? 'is-not-active' : 'is-active'">
        </div>
        <div class="col-md-6 pt-5 z-depth-3">
            <h1 class="text-center">Info</h1>
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold" >Name: </p>
                    <input placeholder="{{ boat.name }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="name" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.name }}</p>
                    <p class="font-weight-bold">Id: </p>
                    <p class="text-muted" >{{ boat.id }}</p>
                    <p class="font-weight-bold mt-3">Description: </p>
                    <input placeholder="{{ boat.description }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="description" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.description }}</p>
                    <p class="font-weight-bold mt-3">Address: </p>
                    <input placeholder="{{ boat.address }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="address" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.address }}</p>
                    <p class="font-weight-bold mt-3">Average rating: </p>
                    <input placeholder="{{ boat.rating }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="rating" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.rating }}</p>
                    <p class="font-weight-bold mt-3" >Price per day: </p>
                    <input placeholder="{{ boat.pricePerDay }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="pricePerDay" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.pricePerDay }}</p>
                    <p class="font-weight-bold mt-3">Additional services: </p>
                    <input placeholder="{{ boat.additionalServices }}" type="text" class="form-control w-50 mb-3" aria-describedby="basic-addon1" [(ngModel)]="additionalServices" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.additionalServices }}</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Type: </p>
                    <input placeholder="{{ boat.type }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="type" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.type }}</p>
                    <p class="font-weight-bold mt-3">Length: </p>
                    <input placeholder="{{ boat.length }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="length" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.length}}</p>
                    <p class="font-weight-bold mt-3">Engine number: </p>
                    <input placeholder="{{ boat.engineNumber }}" type="text" class="form-control w-50 mb-3" aria-describedby="basic-addon1" [(ngModel)]="engineNumber" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.engineNumber }}</p>
                    <p class="font-weight-bold mt-3">Engine power: </p>
                    <input placeholder="{{ boat.enginePower }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="enginePower" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.enginePower }}</p>
                    <p class="font-weight-bold mt-3">Max speed: </p>
                    <input placeholder="{{ boat.maxSpeed }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="maxSpeed" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.maxSpeed }}</p>
                    <p class="font-weight-bold mt-3">Navigation: </p>
                    <input placeholder="{{ boat.navigation }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="navigation" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.navigation }}</p>
                    <p class="font-weight-bold mt-3">Cancellation conditions: </p>
                    <input placeholder="{{ boat.cancellationConditions }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="cancellationConditions" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.cancellationConditions }}</p>
                    <p class="font-weight-bold mt-3">Fishing equipment: </p>
                    <input placeholder="{{ boat.fishingEqu }}" type="text" class="form-control w-50 mb-3" aria-describedby="basic-addon1" [(ngModel)]="fishingEqu" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.fishingEqu }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-5 pt-5 z-depth-3">
            <button class="btn btn-primary make-reservation" [ngClass]="user ? 'is-active' : 'is-not-active'" (click)='subscribeToBoat(boat.id)'>{{ subscribeButtonText }}</button>
            <button class="btn btn-primary btn-block w-50 mb-3"  [ngClass]="boowner ? 'is-active' : 'is-not-active'"
                (click)='doEdit()'>Edit</button>
            <!-- <button class="btn btn-primary btn-block w-50 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" [ngClass]="coowner ? 'is-active' : 'is-not-active'">Reduction</button>
            <button class="btn btn-primary btn-block w-50 mb-3" data-bs-toggle="modal" data-bs-target="#availability" [ngClass]="coowner ? 'is-active' : 'is-not-active'">Availability</button> -->
            <button class="btn btn-danger btn-block w-50 mb"  [ngClass]="boowner ? 'is-active' : 'is-not-active'"
                (click)='doDeleteBoat()'>Delete</button>
            <button class="btn btn-success btn-block w-50 btn-block mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEditBoat()'>Save</button>
            <button class="btn btn-danger btn-block w-50 mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEdit()'>Cancel</button>
        </div>
    </div>
</div>

<app-footer></app-footer>