<app-menu></app-menu>

<div class="container mt-5">
    <div class="row d-flex justify-content-center cottage-border">
        <div class="col-md-4 mt-5 pt-5 z-depth-5">
            <img src="assets/{{ boat.image }}" class="img-cottage" alt="">
            <input type="file" class="form-control mb-5" aria-describedby="basic-addon1" (change)="selectImage($event)" [ngClass]="edit ? 'is-not-active' : 'is-active'">
        </div>
        <div class="col-md-6 pt-5 z-depth-3">
            <h1 class="text-center">Info</h1>
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold" >Name: </p>
                    <input placeholder="{{ boat.name }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="name" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.name }}</p>
                    <p class="font-weight-bold">Id: </p>
                    <p class="text-muted" >{{ boat.id }}</p>
                    <p class="font-weight-bold mt-3">Description: </p>
                    <input placeholder="{{ boat.description }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="description" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.description }}</p>
                    <p class="font-weight-bold mt-3">Address: </p>
                    <input placeholder="{{ boat.address }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="address" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.address }}</p>
                    <p class="font-weight-bold mt-3">Average rating: </p>
                    <input placeholder="{{ boat.rating }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="rating" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.rating }}</p>
                    <p class="font-weight-bold mt-3" >Price per day: </p>
                    <input placeholder="{{ boat.pricePerDay }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="pricePerDay" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.pricePerDay }}</p>
                    <p class="font-weight-bold mt-3">Additional services: </p>
                    <input placeholder="{{ boat.additionalServices }}" type="text" class="form-control w-50 mb-3" aria-describedby="basic-addon1" [(ngModel)]="additionalServices" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.additionalServices }}</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Type: </p>
                    <input placeholder="{{ boat.type }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="type" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.type }}</p>
                    <p class="font-weight-bold mt-3">Length: </p>
                    <input placeholder="{{ boat.length }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="length" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.length}}</p>
                    <p class="font-weight-bold mt-3">Engine number: </p>
                    <input placeholder="{{ boat.engineNumber }}" type="text" class="form-control w-50 mb-3" aria-describedby="basic-addon1" [(ngModel)]="engineNumber" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.engineNumber }}</p>
                    <p class="font-weight-bold mt-3">Engine power: </p>
                    <input placeholder="{{ boat.enginePower }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="enginePower" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.enginePower }}</p>
                    <p class="font-weight-bold mt-3">Max speed: </p>
                    <input placeholder="{{ boat.maxSpeed }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="maxSpeed" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.maxSpeed }}</p>
                    <p class="font-weight-bold mt-3">Navigation: </p>
                    <input placeholder="{{ boat.navigation }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="navigation" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.navigation }}</p>
                    <p class="font-weight-bold mt-3">Cancellation conditions: </p>
                    <input placeholder="{{ boat.cancellationConditions }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="cancellationConditions" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.cancellationConditions }}</p>
                    <p class="font-weight-bold mt-3">Fishing equipment: </p>
                    <input placeholder="{{ boat.fishingEqu }}" type="text" class="form-control w-50 mb-3" aria-describedby="basic-addon1" [(ngModel)]="fishingEqu" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                    <p class="text-muted mt-3" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ boat.fishingEqu }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-5 pt-5 z-depth-3">
            <button class="btn btn-primary make-reservation" [ngClass]="user ? 'is-active' : 'is-not-active'" (click)='subscribeToBoat(boat.id)'>{{ subscribeButtonText }}</button>
            <button class="btn btn-primary btn-block w-50 mb-3"  [ngClass]="boowner ? 'is-active' : 'is-not-active'" [disabled]="this.boat.reservations.length !== 0"
                (click)='doEdit()'>Edit</button>
            <button class="btn btn-primary btn-block w-50 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" [ngClass]="boowner ? 'is-active' : 'is-not-active'">Reduction</button>
            <button class="btn btn-primary btn-block w-50 mb-3" data-bs-toggle="modal" data-bs-target="#availability" [ngClass]="boowner ? 'is-active' : 'is-not-active'">Availability</button>
            <button class="btn btn-danger btn-block w-50 mb"  [ngClass]="boowner ? 'is-active' : 'is-not-active'" [disabled]="this.boat.reservations.length !== 0"
                (click)='doDeleteBoat()'>Delete</button>
            <button class="btn btn-success btn-block w-50 btn-block mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEditBoat()'>Save</button>
            <button class="btn btn-danger btn-block w-50 mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEdit()'>Cancel</button>
        </div>
    </div>

    <!-- Fast reservation -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add fast reservation </h5>
                </div>
                <div class="modal-body">
                    <label style="margin-bottom: 10px; margin-left: 2%;">Start date:</label>
                    <mat-form-field class="s" appearance="fill" style="margin-left: 7%; width: 70%;">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" [min]="todayDate" [(ngModel)]="firstDate" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                    </mat-form-field>
        
                    <br>
                    <label style="margin-bottom: 10px; margin-left: 2%;">End date:</label>
                    <mat-form-field appearance="fill" style="margin-left: 8.5%; width: 70%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker2" [min]="firstDate" [(ngModel)]="lastDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                                
                    <label style="margin-bottom: 10px; margin-left: 2%;">Expiration date:</label>
                    <mat-form-field appearance="fill" style=" width: 70%;">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker1" [min]="todayDate" [(ngModel)]="newActionExpirationDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    
                    <div class="row mt-3">
                        <div class="col-md-4 ml-5 pl-5"><label>Current price:</label></div>
                        <div class="col-md-8">
                            <p>{{currprice}}</p>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 ml-5 pl-5"><label>Action price:</label></div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" style="width: 89%;" [(ngModel)]="actionprice"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addReservation()">Add</button>
                </div>
          </div>
        </div>
    </div>

    <!-- Normal available reservation -->
    <div class="modal fade" id="availability" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Select cottage availability</h2>
                </div>
                
                <div  class="container"  style="margin-bottom: 3%; margin-top: 3%;">
                    <label style="margin-bottom: 10px; margin-left: 2%;">Start date:</label>
                    <mat-form-field appearance="fill" style="margin-left: 7%; width: 70%;">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker3" [min]="todayDate" [(ngModel)]="beginDate" >
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3 ></mat-datepicker>
                    </mat-form-field>
        
                    <div class="row">
                        <label class="col" style="margin-bottom: 10px; margin-left: 2%; max-width: 22%;">Start time:</label>
                        <div class="col">
                            <input disabled type="time" id="form3Example1q" class="form-control" style="width: 93%;" [(ngModel)]="startTime"/>
                        </div>
                    </div>
        
                    <br>
                    <label style="margin-bottom: 10px; margin-left: 2%;">End date:</label>
                    <mat-form-field appearance="fill" style="margin-left: 8.5%; width: 70%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker4" [min]="beginDate" [(ngModel)]="finishDate">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
        
                    <div class="row">
                        <label class="col" style="margin-bottom: 10px; margin-left: 2%; max-width: 22%;">End time:</label>
                        <div class="col">
                            <input disabled type="time" id="form3Example1q" class="form-control" style="width: 93%;" [(ngModel)]="endTime"/>
                        </div>
                    </div>
        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="editAvailability()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <app-history-reservation-boat [ngClass]="boowner ? 'is-active' : 'is-not-active'"></app-history-reservation-boat>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="8">
        <agm-marker  [latitude]=19.757386 [longitude]=46.094376></agm-marker>
    </agm-map>
    <app-boat-report [ngClass]="boowner ? 'is-active' : 'is-not-active'"></app-boat-report>
</div>

<app-footer></app-footer>