<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="name" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="nameCottage">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="address" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="addressCottage">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="description" aria-label="Username"
                    aria-describedby="basic-addon1"[(ngModel)]="descriptionCottage" >
            </div>
        </div>
    </div>
</div>
<app-card></app-card>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="name" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="nameBoat">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="description" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="descriptionBoat">
            </div>
        </div>
    </div>
</div>
<app-boat-card></app-boat-card>