.cottage-border {
  /* background-color: rgb(224, 226, 226); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mb{
  margin-bottom: 100%;
}

.img-cottage {
  width: 100%;
  position: relative;
}

.is-not-active {
  display: none;
}

.is-active {
  display: inherit;
}
