<app-menu></app-menu>

<div class="container mt-5">
    <div class="row d-flex justify-content-center cottage-border">
        <div class="col-md-4 mt-5 pt-5 z-depth-5 ">
            <img class="img-cottage" src="assets/{{ weekendCottage.image }}" alt="">
            <input type="file" class="form-control mb-5" aria-describedby="basic-addon1" (change)="selectImage($event)" [ngClass]="edit ? 'is-not-active' : 'is-active'">
        </div>
        <div class="col-md-6 pt-5 z-depth-3">
            <h3 class="text-center">Info</h3>
            <!-- <hr class="badge-primary mt-0 w-25"> -->
            <div class="row ">
                <p class="font-weight-bold">Name: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.name }}</p>
                <input placeholder="{{ weekendCottage.name }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="name" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                <p class="font-weight-bold">Id: </p>
                <p class="text-muted">{{ weekendCottage.id }}</p>
                <p class="font-weight-bold">Description: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.description }}</p>
                <input placeholder="{{ weekendCottage.description }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="description" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                <p class="font-weight-bold">Address: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.address }}</p>
                <input placeholder="{{ weekendCottage.address}}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="rules" [ngClass]="edit ? 'is-not-active' : 'is-active'"><p class="font-weight-bold">Rules of conduct: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.rulesOfConduct }}</p>
                <input placeholder="{{ weekendCottage.rulesOfConduct }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="pricelist" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                <p class="font-weight-bold">Average rating: </p>
                <p class="text-muted" >{{ weekendCottage.rating }}</p>
            </div>
        </div>
        <div class="col-md-2 mt-5 pt-5 z-depth-3">
            <button class="btn btn-outline-primary btn-block w-50 mb-3" [ngClass]="user ? 'is-active' : 'is-not-active'"
                (click)='subscribeToCottage(weekendCottage.id)'>Subscribe</button>
            <button class="btn btn-primary btn-block w-50 mb-3" [disabled]="this.postCottage.reservations.length !== 0" [ngClass]="coowner ? 'is-active' : 'is-not-active'"
                (click)='doEdit()'>Edit</button>
            <button class="btn btn-primary btn-block w-50 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" [ngClass]="coowner ? 'is-active' : 'is-not-active'">Reduction</button>
            <button class="btn btn-danger btn-block w-50 mb" [disabled]="this.postCottage.reservations.length !== 0" [ngClass]="coowner ? 'is-active' : 'is-not-active'"
                (click)='doDeleteCottage()'>Delete</button>
            <button class="btn btn-success btn-block w-50 btn-block mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEditCottage()'>Save</button>
            <button class="btn btn-danger btn-block w-50 mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEdit()'>Cancel</button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add fast reservation </h5>
                    </div>
                    <div class="modal-body">
                        <label style="margin-bottom: 10px; margin-left: 2%;">Start date:</label>
                        <mat-form-field class="s" appearance="fill" style="margin-left: 7%; width: 70%;">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" [min]="todayDate" [(ngModel)]="firstDate" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker ></mat-datepicker>
                        </mat-form-field>
            
                        <br>
                        <label style="margin-bottom: 10px; margin-left: 2%;">End date:</label>
                        <mat-form-field appearance="fill" style="margin-left: 8.5%; width: 70%;">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker2" [min]="todayDate" [(ngModel)]="lastDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                                    
                        <label style="margin-bottom: 10px; margin-left: 2%;">Expiration date:</label>
                        <mat-form-field appearance="fill" style=" width: 70%;">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker1" [min]="todayDate" [(ngModel)]="newActionExpirationDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        
                        <div class="row mt-3">
                            <div class="col-md-4 ml-5 pl-5"><label>Current price:</label></div>
                            <div class="col-md-8">
                                <p>{{currprice}}</p>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4 ml-5 pl-5"><label>Action price:</label></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 89%;" [(ngModel)]="actionprice"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addReservation()">Add</button>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>
<app-history-reservation-cottage [ngClass]="coowner ? 'is-active' : 'is-not-active'"></app-history-reservation-cottage>
<app-footer></app-footer>