<app-menu></app-menu>

<div class="container mt-5">
    <div class="row d-flex justify-content-center cottage-border">
        <div class="col-md-4 mt-5 pt-5 z-depth-5 ">
            <img class="img-cottage" src="assets/{{ weekendCottage.image }}" alt="">
            <input type="file" class="form-control mb-5" aria-describedby="basic-addon1" (change)="selectImage($event)" [ngClass]="edit ? 'is-not-active' : 'is-active'">
        </div>
        <div class="col-md-6 pt-5 z-depth-3">
            <h3 class="text-center">Info</h3>
            <!-- <hr class="badge-primary mt-0 w-25"> -->
            <div class="row ">
                <p class="font-weight-bold">Name: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.name }}</p>
                <input placeholder="{{ weekendCottage.name }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="name" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                <p class="font-weight-bold">Id: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.id }}</p>
                <input placeholder="{{ weekendCottage.id }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="address" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                <p class="font-weight-bold">Description: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.description }}</p>
                <input placeholder="{{ weekendCottage.description }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="description" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                <p class="font-weight-bold">Address: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.address }}</p>
                <input placeholder="{{ weekendCottage.address}}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="rules" [ngClass]="edit ? 'is-not-active' : 'is-active'"><p class="font-weight-bold">Rules of conduct: </p>
                <p class="text-muted" [ngClass]="edit ? 'is-active' : 'is-not-active'">{{ weekendCottage.rulesOfConduct }}</p>
                <input placeholder="{{ weekendCottage.rulesOfConduct }}" type="text" class="form-control w-50" aria-describedby="basic-addon1" [(ngModel)]="pricelist" [ngClass]="edit ? 'is-not-active' : 'is-active'">
                <p class="font-weight-bold">Average rating: </p>
                <p class="text-muted" >{{ weekendCottage.rating }}</p>
            </div>
        </div>
        <div class="col-md-2 mt-5 pt-5 z-depth-3">
            <button class="btn btn-outline-primary btn-block w-50 mb-3" [ngClass]="user ? 'is-active' : 'is-not-active'"
                (click)='subscribeToCottage(weekendCottage.id)'>Subscribe</button>
            <button class="btn btn-primary btn-block w-50 mb-3" [disabled]="this.postCottage.reservations.length !== 0" [ngClass]="coowner ? 'is-active' : 'is-not-active'"
                (click)='doEdit()'>Edit</button>
            <button class="btn btn-danger btn-block w-50 mb" [disabled]="this.postCottage.reservations.length !== 0" [ngClass]="coowner ? 'is-active' : 'is-not-active'"
                (click)='doDeleteCottage()'>Delete</button>
            <button class="btn btn-success btn-block w-50 btn-block mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEditCottage()'>Save</button>
            <button class="btn btn-danger btn-block w-50 mb-3" [ngClass]="edit ? 'is-not-active' : 'is-active'"
                (click)='doEdit()'>Cancel</button>
        </div>
    </div>
</div>

<app-footer></app-footer>