<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="name" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="nameCottage">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="address" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="addressCottage">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="description" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="descriptionCottage">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="date" id="birthday" name="birthday" [(ngModel)]="date1">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="date" id="birthday" name="birthday" [(ngModel)]="date2">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="people" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="people">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <select class="form-select mb-3" aria-label="" id="sortAttribute" (change)="getSortSelectValue()">
                    <option value="Sort by">Sort by</option>
                    <option value="Name">Name</option>
                    <option value="Location">Location</option>
                    <option value="Rating">Rating</option>
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <select class="form-select mb-3" aria-label="" id="sortType" (change)="getSortType()">
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <button class="btn btn-outline-primary make-reservation" [ngClass]="show ? 'is-active' : 'is-not-active'"
        (click)='goToDiscountPage()'>Discount Reservations</button>
</div>
<app-card></app-card>
<app-footer></app-footer>