<div class="row justify-content-center mt-5 ">
    <div class="col-auto">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">Reservation id</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Price per day</th>
                    <th scope="col">User email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of cottageReservations">
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                    <td>{{ reservation.price }}</td>
                    <td><a href="/info?email={{ reservation.clientEmail }}">{{ reservation.clientEmail }}</a></td>
                    <td><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#reportnotice" (click)="getId(reservation)" ><i class="bi bi-file-earmark-text"></i></button></td>
                    <td><button *ngIf="reservation.canceled ? 'is-not-active' : 'is-active'" data-bs-toggle="modal" data-bs-target="#edit" type="button" (click)="getId(reservation)" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Edit reservation</h2>
                </div>
                
                <div  class="container"  style="margin-bottom: 3%; margin-top: 3%;">
                    <label style="margin-bottom: 10px; margin-left: 2%;">Start date:</label>
                    <mat-form-field appearance="fill" style="margin-left: 7%; width: 70%;">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker3" [min]="todayDate" [(ngModel)]="beginDate" >
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3 ></mat-datepicker>
                    </mat-form-field>
        
                    <br>
                    <label style="margin-bottom: 10px; margin-left: 2%;">End date:</label>
                    <mat-form-field appearance="fill" style="margin-left: 8.5%; width: 70%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker4" [min]="beginDate" [(ngModel)]="finishDate">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="editReservation()" >Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Report - notice owner -->

    <div class="modal fade" id="reportnotice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Report</h2>
                </div>
                
                <select class="form-select mt-3" aria-label="" id="commentSelect">
                    <option selected value="0">Bad</option>
                    <option value="1">Good</option>
                </select>

                <div class="row mt-3">
                    <div class="col-sm"><h3>Did he show up?</h3></div>
                    <div class="col-sm mt3"><input class="row" [(ngModel)]="checkboxFlag" type="checkbox"/></div>
                </div>

                <div class="col-auto">
                    <div class="form-group">
                        <h3>Your compliant for client:</h3>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"
                            [(ngModel)]="comment"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="doComment()" >Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="8">
        <agm-marker  [latitude]="lat" [longitude]="lon"></agm-marker>
    </agm-map>
    <ejs-schedule class="mt-5 mb-5" [readonly]="true" [eventSettings]="eventObject" height="500" [currentView]="setView" ></ejs-schedule>
</div>