 <div class="container">
    <div class="row">
        <div class="col-sm" *ngFor="let weekendCottage of weekendCottages | cottagesFilter:'':'name'">
            <div class="card" style="width: 18rem;">
                <img src="{{ weekendCottage.image }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ weekendCottage.name }}</h5>
                    <p class="card-text">{{ weekendCottage.description | slice:0:200
                        }}{{weekendCottage.description.length > 200 ? '...' : ''}}</p>
                    <p class="card-text">{{ weekendCottage.address }}</p>
                    <p class="card-text">id: {{ weekendCottage.id }}</p>
                    <p class="card-text">Average rating: {{ weekendCottage.rating }}</p>
                    <p class="card-text">Price list: {{ weekendCottage.priceList }}</p>
                    <a href="/weekendCottage?id={{ weekendCottage.id }}" class="btn btn-primary">See more</a>
                    <button class="btn btn-outline-primary make-reservation" [ngClass]="show ? 'is-active' : 'is-not-active'"
                        (click)='makeReservation(weekendCottage.id)'>Make Reservation</button>
                </div>
            </div>
        </div>
    </div>
</div>