 <div class="container">
    <div class="row">
        <div class="col-sm" *ngFor="let weekendCottage of weekendCottages | cottagesFilter:'':'name'">
            <div class="card" style="width: 18rem;">
                <img src="assets/{{ weekendCottage.image }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h2 class="card-title">{{ weekendCottage.name }}</h2>
                    <p class="card-text">{{ weekendCottage.description | slice:0:200
                        }}{{weekendCottage.description.length > 200 ? '...' : ''}}</p>
                    <p class="card-text">{{ weekendCottage.address }}</p>
                    <p class="card-text">id: {{ weekendCottage.id }}</p>
                    <p class="card-text">Average rating: {{ weekendCottage.rating }}</p>
                    <p class="card-text">Price per day: {{ weekendCottage.priceList }}</p>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <table class="table w-auto">
                                <thead>
                                    <tr>
                                        <th scope="col">Additional Service</th>
                                        <th scope="col">Add</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let additionalService of weekendCottage.additionalServices.split(',')">
                                        <td>{{ additionalService }}</td>
                                        <td><button class="btn btn-outline-primary make-reservation"
                                                [ngClass]="show ? 'is-active' : 'is-not-active'"
                                                (click)='addAdditionalService(additionalService)'>Add</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a href="/weekendCottage?id={{ weekendCottage.id }}" class="btn btn-primary w-100">See more</a>
                    <button class="btn btn-outline-primary make-reservation" [ngClass]="reserve ? 'is-active' : 'is-not-active'"
                        (click)='makeReservation(weekendCottage.id, weekendCottage.priceList)' [disabled]="!this.component.date1 || !this.component.date2 || !this.component.people" >Make Reservation</button>
                </div>
            </div>
        </div>
    </div>
</div>