<app-menu></app-menu>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">Boat Reservation id</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Cancel reservation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of boatReservations">
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                    <td><button class="btn btn-outline-primary make-reservation"
                            (click)='cancelBoatReservation(reservation.id)'>Cancel Reservation</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">Cottage Reservation id</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Cancel reservation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of cottageReservations">
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                    <td><button class="btn btn-outline-primary make-reservation"
                            (click)='cancelCottageReservation(reservation.id)'>Cancel Reservation</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">Adventure Reservation id</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Cancel reservation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of adventureReservations">
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.startDate }}</td>
                    <td>{{ reservation.endDate }}</td>
                    <td><button class="btn btn-outline-primary make-reservation"
                            (click)='cancelAdventureReservation(reservation.id)'>Cancel Reservation</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>