<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>Hello, world!</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a href="home" class="navbar-brand mb-0 h1">Fishing Booker</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item active">
                        <a href="/cottages" class="nav-link active">Cottages</a>
                    </li>
                    <li class="nav-item">
                        <a href="/boats" class="nav-link">Boats</a>
                    </li>
                    <li class="nav-item">
                        <a href="/adventures" class="nav-link">Adventures</a>
                    </li>
                    <li class="nav-item">
                        <a href="/bookedReservations" class="nav-link" [ngClass]="client ? 'is-active' : 'is-not-active'">Cancel Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cottageReservations" class="nav-link" [ngClass]="client ? 'is-active' : 'is-not-active'">Cottage
                            Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a href="/boatReservations" class="nav-link" [ngClass]="client ? 'is-active' : 'is-not-active'">Boat
                            Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a href="/adventureReservations" class="nav-link" [ngClass]="client ? 'is-active' : 'is-not-active'">Adventure
                            Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a href="/makeCompliant" class="nav-link" [ngClass]="client ? 'is-active' : 'is-not-active'">Make Compliant</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item">
                        <a href="http://localhost:8080/login" class="nav-link" [ngClass]="show ? 'is-active' : 'is-not-active'">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link" [ngClass]="show ? 'is-active' : 'is-not-active'">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" class="nav-link" [ngClass]="show ? 'is-not-active' : 'is-active'">User profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:8080/logout" class="nav-link" (click)='changeShow()' [ngClass]="show ? 'is-not-active' : 'is-active'">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- <button (click)=doGet()>uzmi usera</button> -->
    <!-- WARNING!!! -->
    <!-- ovo je samo demonstrativno, ne salji password na front, vec neki DTO -->
    <!-- <p>Ulogovan korisnik: {{user | json}}</p> -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>