<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="name" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="nameBoat">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="description" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="descriptionBoat">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="address" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="address">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <mat-form-field appearance="fill" style="margin-left: 7%; width: 60%;">
                    <mat-label>Choose a start</mat-label>
                    <input matInput [matDatepicker]="picker3" [min]="todayDate" [(ngModel)]="date1" >
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 ></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <mat-form-field appearance="fill" style="width: 60%;">
                    <mat-label>Choose a end</mat-label>
                    <input matInput [matDatepicker]="picker4" [min]="date1" [(ngModel)]="date2" >
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4 ></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="people" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="people">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <select class="form-select mb-3" aria-label="" id="sortAttribute" (change)="getSortSelectValue()">
                    <option value="Sort by">Sort by</option>
                    <option value="Name">Name</option>
                    <option value="Location">Location</option>
                    <option value="Rating">Rating</option>
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <select class="form-select mb-3" aria-label="" id="sortType" (change)="getSortType()">
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <button class="btn btn-outline-primary make-reservation" [ngClass]="show ? 'is-active' : 'is-not-active'"
        (click)='goToDiscountPage()'>Discount Reservations</button>
</div>
<app-boat-card></app-boat-card>
<app-footer></app-footer>
